---
apiVersion: v1
kind: Secret
metadata:
  name: yelp-camp-secrets
type: Opaque
data:
  CLOUDINARY_CLOUD_NAME: ZHhneWNrYXBuCg==
  CLOUDINARY_KEY: ODQ5NjkzNjExODU4Nzg0Cg==
  CLOUDINARY_SECRET: YXdzIGF3c2NsaXYyLnppcCBiaW5kLnltbCBjdGwuc2ggcm9sLnltbCBzZWMueW1sIHNuYXAgc3Zj
LnltbAo=
  MAPBOX_TOKEN: c2suZXlKMUlqb2liV0ZxWldWa0xXdG9ZVzRpTENKaElqb2lZMngyT1hjME9YbGlNSGRyWnpKcmJu
UjVaV0owZWpjellpSjkuRlNjeElwbGtzU1ZsemRaWDU4dnktdwo=
DB_URL: bW9uZ29kYitzcnY6Ly9tYWplZWRraGFuMDk4OTA6eTdLdjRwbXFsY2dDcHVaeUBtYWplZWVkLWxv
YWNhbC1zZXJ2ZXItZC40eTh3YmNnLm1vbmdvZGIubmV0Lz9yZXRyeVdyaXRlcz10cnVlJnc9bWFq
b3JpdHkmYXBwTmFtZT1NQUpFRUVELUxPQUNBTC1TRVJWRVItREVQTE9NRU5ULURCCg==
  SECRET: ZGV2b3Bzc2hhY2s=

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: yelp-camp-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: yelp-camp
  template:
    metadata:
      labels:
        app: yelp-camp
    spec:
      containers:
        - name: yelp-camp-container
          image: adijaiswal/campa:latest
          ports:
            - containerPort: 3000
          env:
            - name: CLOUDINARY_CLOUD_NAME
              valueFrom:
                secretKeyRef:
                  name: yelp-camp-secrets
                  key: CLOUDINARY_CLOUD_NAME
            - name: CLOUDINARY_KEY
              valueFrom:
                secretKeyRef:
                  name: yelp-camp-secrets
                  key: CLOUDINARY_KEY
            - name: CLOUDINARY_SECRET
              valueFrom:
                secretKeyRef:
                  name: yelp-camp-secrets
                  key: CLOUDINARY_SECRET
            - name: MAPBOX_TOKEN
              valueFrom:
                secretKeyRef:
                  name: yelp-camp-secrets
                  key: MAPBOX_TOKEN
            - name: DB_URL
              valueFrom:
                secretKeyRef:
                  name: yelp-camp-secrets
                  key: DB_URL
            - name: SECRET
              valueFrom:
                secretKeyRef:
                  name: yelp-camp-secrets
                  key: SECRET
          livenessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 30   # Adjust the initial delay here
          readinessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 30   # Adjust the initial delay here

---
apiVersion: v1
kind: Service
metadata:
  name: yelp-camp-service
spec:
  selector:
    app: yelp-camp
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000
  type: LoadBalancer
